<h1>標準タスクを追加する</h1>


<mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
    <mat-form-field appearance="fill">
        <mat-label>スタート日を選んでください</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="selectDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>圃場を選択して下さい</mat-label>
        <mat-select [(value)]="selectedField">
            <mat-option [value]="nf" *ngFor="let nf of nfields$ | async">
                <span class="fieldspan">圃場番号 : {{nf.field_name}}</span>
                <span class="fieldspan">地域 : {{nf.group_name}}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-card *ngIf="selectedField">
        <span class="fieldspan">ID : {{selectedField.ID}}</span>
        <span class="fieldspan">圃場番号 : {{selectedField.field_name}}</span>
        <span class="fieldspan">地域 : {{selectedField.group_name}}</span>
    </mat-card>

    <mat-form-field appearance="fill">
        <mat-label>標準タスクオプションを選択して下さい</mat-label>
        <mat-select [(value)]="selectedSeriesTaskOption">
            <mat-option [value]="seriestaskoption" *ngFor="let seriestaskoption of seriestaskservice.entities$| async">
                <span class="fieldspan">標準タスク : {{seriestaskoption.title}}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-card *ngIf="selectedSeriesTaskOption">
        <span class="fieldspan">ID : {{selectedSeriesTaskOption.ID}}</span>
        <span class="fieldspan">標準タスクオプションタイトル : {{selectedSeriesTaskOption.title}}</span>
        <span class="fieldspan">タスク数 : {{selectedSeriesTaskOption.tasklist.length}}</span>
    </mat-card>



    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onGoNewJourney(selectedSeriesTaskOption)"
            [disabled]="selectedSeriesTaskOption === undefined|| selectedField === undefined ">OK</button>
    </mat-card-actions>
</mat-card>