<header>
    <nav fxLayout="row" fxLayoutAlign="center center">
        <a [routerLink]="[ '/' ]">
            <mat-icon svgIcon="negi-logo" id="logo"></mat-icon>
        </a>
        <div class="sider" fxLayout="row" fxLayoutAlign="center center">
            <a [routerLink]="[ '/task' ]" routerLinkActive="active" fxHide.lt-md>
                <mat-icon>inventory</mat-icon>
                <span>タスクリスト</span>
            </a>
            <a [routerLink]="[ '/field' ]" routerLinkActive="active" fxHide.lt-md>
                <mat-icon>dashboard</mat-icon>
                圃場管理
            </a>
            <a [routerLink]="[ '/members' ]" routerLinkActive="active" fxHide.lt-md *ngIf="isAdmin">
                <mat-icon>supervisor_account</mat-icon>
                メンバー管理
            </a>
            <a [routerLink]="[ '/titleoption' ]" routerLinkActive="active" fxHide.lt-md *ngIf="isAdmin">
                <mat-icon>ballot</mat-icon>
                タスクタイトル管理
            </a>
        </div>
        <div class="flex-spacer"></div>
        <div *ngIf="afa.user | async as u" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=".5rem">
            <img [src]="u.photoURL" class="user-avatar">
            <span>{{u.displayName}}</span>
        </div>
        <a class="logout" (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
        </a>
    </nav>
</header>
<main fxLayoutAlign="center center">
    <router-outlet #outlet="outlet"></router-outlet>
    <!-- <footer class="copyright">&copy; Copyright yujun All rights reserved.</footer> -->
</main>