<mat-card>
    <mat-card-header>
        <mat-card-title>{{data.title}}</mat-card-title>
        <mat-card-subtitle>
            <span>圃場番号: {{(selectEntityById(data.NegiFieldID) | async)!.field_name}}
                地域名:{{(selectEntityById(data.NegiFieldID)
                | async)!.group_name}} </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="camera-area" (click)="scannerEnabled = !scannerEnabled">
            <!-- <button mat-raised-button color="primary" (click)="scannerEnabled = !scannerEnabled">カメラを開く</button> -->
            <span class="detail-btn">
                <mat-icon>photo_camera</mat-icon>
                カメラを開く
            </span>
            <zxing-scanner [enable]="scannerEnabled" (camerasFound)="camerasFoundHandler($event)"
                (camerasNotFound)="camerasNotFoundHandler($event)" (scanSuccess)="scanSuccessHandler($event)"
                (scanError)="scanErrorHandler($event)"></zxing-scanner>
        </div>
        <div class="img-area">
            <!-- <div class="form-uploader" fxLayoutAlign="center center"> -->
            <!-- <button mat-raised-button color="primary" (click)="fileInput.click()" type="button">画像を選ぶ</button>
                <input hidden type="file" #fileInput (change)="onFile($event)" name='Cover'> -->
            <span class="detail-btn" (click)="onCompress()">
                <mat-icon>image</mat-icon> 画像を選ぶ
            </span>
            <!-- </div> -->
            <div class="img-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".5rem"
                *ngIf="imagePreview">
                <img [src]="imagePreview" width="200">
                <span class="detail-btn" (click)="onUploadImg()">
                    <mat-icon>file_upload</mat-icon> アップロード
                </span>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-raised-button color="primary" (click)="onFinished()">Ok only for dev</button> -->
        <button mat-raised-button color="primary" *ngIf="isMatchFieldId || isAdmin"
            (click)="onFinished()">タスクを完成する</button>
    </mat-card-actions>
</mat-card>