<mat-card>
    <mat-card-header>
        <mat-card-title>{{data.ID}}|{{data.title}}</mat-card-title>
        <mat-card-subtitle>QRコードをスキャンしてください。</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="camera-area">
            <button mat-raised-button color="primary" (click)="scannerEnabled = !scannerEnabled">カメラを開く</button>
            <zxing-scanner [enable]="scannerEnabled" (camerasFound)="camerasFoundHandler($event)"
                (camerasNotFound)="camerasNotFoundHandler($event)" (scanSuccess)="scanSuccessHandler($event)"
                (scanError)="scanErrorHandler($event)"></zxing-scanner>
        </div>
        <div class="img-area">
            <div class="form-uploader" fxLayoutAlign="center center">
                <!-- <button mat-raised-button color="primary" (click)="fileInput.click()" type="button">画像を選ぶ</button>
                <input hidden type="file" #fileInput (change)="onFile($event)" name='Cover'> -->
                <button mat-raised-button color="accent" (click)="onCompress()">画像を選ぶ</button>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".5rem" *ngIf="imagePreview">
                <img [src]="imagePreview" width="200">
                <button mat-raised-button (click)="onUploadImg()">アップロード</button>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-raised-button color="primary" (click)="onFinished()">Ok only for dev</button> -->
        <button mat-raised-button color="primary" *ngIf="isMatchFieldId" (click)="onFinished()">タスクを完成する</button>
    </mat-card-actions>
</mat-card>