<form [formGroup]="fieldForm">
    <h1 fxLayout="row" fxLayoutAlign="center center">{{title}}</h1>

    <div gdGap="1rem" gdAlignColumns="center center" gdGap.lt-md=".3rem" gdColumns="repeat(5, [col] auto)"
        gdColumns.md="repeat(2, [col] auto)" gdColumns.lt-md="repeat(2, [col] calc(50% - 1rem))">

        <mat-form-field appearance="outline" [hideRequiredMarker]="false">
            <mat-icon matPrefix>stars</mat-icon>
            <mat-label>圃場の名前</mat-label>
            <input matInput formControlName='field_name' name='field_name' required>
            <mat-error *ngIf="fieldForm.controls['field_name'].invalid">
                <!-- {{fieldForm.controls['field_name']["errorMessage"]}} -->
            </mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" [hideRequiredMarker]="false">
            <mat-icon matPrefix>stars</mat-icon>
            <mat-label>地域の名前</mat-label>
            <input matInput formControlName='group_name' name='group_name' required>
            <mat-error *ngIf="fieldForm.controls['group_name'].invalid">
                <!-- {{fieldForm.controls['group_name']["errorMessage"]}} -->
            </mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>


        <mat-form-field appearance="outline" [hideRequiredMarker]="false">
            <mat-icon matPrefix>stars</mat-icon>
            <mat-label>住所</mat-label>
            <input matInput formControlName='address' name='address' required>
            <mat-error *ngIf="fieldForm.controls['address'].invalid">
                <!-- {{fieldForm.controls['address']["errorMessage"]}} -->
            </mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-slide-toggle formControlName='active' name='active'>状況</mat-slide-toggle>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" *ngIf="fieldForm.valid" (click)="onSubmit()">提出</button>
    </div>
</form>