<div fxLayout="cloumn" fxLayoutAlign="space-between center" fxFill>
    <div class="calandar-title-left" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
        <h3>{{ viewDate | date:'yyyy年MM月' }}</h3>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
            <button mat-raised-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)" color="primary" id="eMWHnerXQ9p1">
                <mat-icon svgIcon="arrow-left"></mat-icon>
            </button>
            <button mat-raised-button mwlCalendarToday [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)" color="primary">今月</button>
            <button mat-raised-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)" color="primary">
                <mat-icon svgIcon="arrow-right"></mat-icon>
            </button>
        </div>
        <div class="calandar-hint">
            <div class="hint-wrapper">
                <span class="hint-dot normal"></span>
                <span class="hint-text">一般</span>
            </div>
            <div class="hint-wrapper">
                <span class="hint-dot important"></span>
                <span class="hint-text">重要</span>
            </div>
            <div class="hint-wrapper">
                <span class="hint-dot emergency"></span>
                <span class="hint-text">緊急</span>
            </div>
        </div>
        <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
            <mat-icon svgIcon="add"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onNewJourney.emit()" type="button" color="primary" class="">
                <mat-icon>add</mat-icon>
                標準タスクを追加する
            </button>
            <button mat-menu-item (click)="onAddEvent.emit()" type="button" color="accent" class="">
                <mat-icon>add</mat-icon>
                オーダータスクを追加する
            </button>
        </mat-menu>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
        <button mat-mini-fab color="primary" (click)="onRefresh()"><mat-icon svgIcon="refresh"></mat-icon></button>
        <!-- <button mat-raised-button (click)="viewChange.emit(CalendarView.Month)"
            [class.active]="view === CalendarView.Month" color="primary">月</button> -->
        <!-- <button mat-raised-button (click)="viewChange.emit(CalendarView.Week)"
            [class.active]="view === CalendarView.Week" color="primary">週</button>
        <button mat-raised-button (click)="viewChange.emit(CalendarView.Day)" [class.active]="view === CalendarView.Day"
            color="primary">日</button> -->
    </div>
</div>