<div fxLayout="row" fxLayoutAlign="center end">
    <button mat-raised-button (click)="openNewFieldDialog()">new field</button>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-card>
            <mat-card-header>
                <mat-card-title>#1フィールド</mat-card-title>
                <mat-card-subtitle>面積**平方メートル</mat-card-subtitle>
                <mat-card-subtitle>アドレス：＊＊＊＊＊＊＊＊</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <div>
                        <div fxLayout="row" fxLayoutAlign="space-between space" fxLayoutGap="8px">
                            <div>#1 worker 成長率をチェックする at 2020/11/6</div>
                            <img src="https://via.placeholder.com/300x60?text=ThePhotoTokenWhenCheckNegi" alt="">
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                            <div>#2 worker 雑草を刈り at 2020/11/2</div>
                            <img src="https://via.placeholder.com/300x60?text=ThePhotoToeknWhenWeeding" alt="">
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                            <div>#5 worker 成長率をチェックする at 2020/11/1</div>
                            <img src="https://via.placeholder.com/300x60?text=ThePhotoWhenCheckNegi" alt="">
                        </div>
                    </div>
                    <div></div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <!-- <button mat-button>Ok</button> -->
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>#1フィールド</mat-card-title>
                <mat-card-subtitle>面積**平方メートル</mat-card-subtitle>
                <mat-card-subtitle>アドレス：＊＊＊＊＊＊＊＊</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <div>
                        <div fxLayout="row" fxLayoutAlign="space-between space" fxLayoutGap="8px">
                            <div>#1 worker 成長率をチェックする at 2020/11/6</div>
                            <img src="https://via.placeholder.com/300x60?text=ThePhotoTokenWhenCheckNegi" alt="">
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                            <div>#2 worker 雑草を刈り at 2020/11/2</div>
                            <img src="https://via.placeholder.com/300x60?text=ThePhotoToeknWhenWeeding" alt="">
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                            <div>#5 worker 成長率をチェックする at 2020/11/1</div>
                            <img src="https://via.placeholder.com/300x60?text=ThePhotoWhenCheckNegi" alt="">
                        </div>
                    </div>
                    <div></div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <!-- <button mat-button>Ok</button> -->
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>#1フィールド</mat-card-title>
                <mat-card-subtitle>面積**平方メートル</mat-card-subtitle>
                <mat-card-subtitle>アドレス：＊＊＊＊＊＊＊＊</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <div>
                        <div fxLayout="row" fxLayoutAlign="space-between space" fxLayoutGap="8px">
                            <div>#1 worker 成長率をチェックする at 2020/11/6</div>
                            <img src="https://via.placeholder.com/300x60?text=ThePhotoTokenWhenCheckNegi" alt="">
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                            <div>#2 worker 雑草を刈り at 2020/11/2</div>
                            <img src="https://via.placeholder.com/300x60?text=ThePhotoToeknWhenWeeding" alt="">
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                            <div>#5 worker 成長率をチェックする at 2020/11/1</div>
                            <img src="https://via.placeholder.com/300x60?text=ThePhotoWhenCheckNegi" alt="">
                        </div>
                    </div>
                    <div></div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <!-- <button mat-button>Ok</button> -->
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>#1フィールド</mat-card-title>
                <mat-card-subtitle>面積**平方メートル</mat-card-subtitle>
                <mat-card-subtitle>アドレス：＊＊＊＊＊＊＊＊</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <div>
                        <div fxLayout="row" fxLayoutAlign="space-between space" fxLayoutGap="8px">
                            <div>#1 worker 成長率をチェックする at 2020/11/6</div>
                            <img src="https://via.placeholder.com/300x60?text=ThePhotoTokenWhenCheckNegi" alt="">
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                            <div>#2 worker 雑草を刈り at 2020/11/2</div>
                            <img src="https://via.placeholder.com/300x60?text=ThePhotoToeknWhenWeeding" alt="">
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                            <div>#5 worker 成長率をチェックする at 2020/11/1</div>
                            <img src="https://via.placeholder.com/300x60?text=ThePhotoWhenCheckNegi" alt="">
                        </div>
                    </div>
                    <div></div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <!-- <button mat-button>Ok</button> -->
            </mat-card-actions>
        </mat-card>
    </div>

</div>