<negi-calendar-header [(view)]="view" [(viewDate)]="viewDate" (_onRefresh)="onRefresh()"></negi-calendar-header>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <li *ngFor="let ev of day.events" fxLayout="row" fxLayoutGap="1rem"
        [ngClass]="{'emergency': ev.priority === 1,'important':ev.priority===2,'normal':ev.priority===3,'completed':ev.completed}">
        <span>{{ev.ID}} | {{ev.title}}</span>
        <div *ngIf="ev.draggable" fxLayoutGap="1rem">
            <span>{{ev.start | date:"HH:mm "}}</span>
            <span *ngIf="ev.end">~</span>
            <span *ngIf="ev.end">{{ev.end | date:"HH:mm"}}</span>
        </div>
    </li>
</ng-template>

<ng-template #caltitleTemplate let-event="event" let-view="view">
    {{event.ID}}
    <span class="cal-event-title" [innerHTML]="event.title | calendarEventTitle: view:event"
        [attr.aria-hidden]="{} | calendarA11y: 'hideEventTitle'"
        [ngClass]="{'emergency': event.priority === 1,'important':event.priority===2,'normal':event.priority===3,'completed':event.completed}">
    </span>
    <span *ngIf="event.operator">-操作員:{{event.operator}}</span>
</ng-template>

<div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [eventTitleTemplate]="caltitleTemplate"
        [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventTimesChanged)="eventTimesChanged($event)" (eventClicked)="eventClicked($event)">
    </mwl-calendar-month-view>
    <!-- <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view> -->
</div>
<button mat-raised-button (click)="onNewJourney()" type="button" color="primary" class="">
    <mat-icon>add</mat-icon>
    標準タスクを追加する
</button>
<button mat-raised-button (click)="onAddEvent()" type="button" color="accent" class="">
    <mat-icon>add</mat-icon>
    オーダータスクを追加する
</button>