@mixin flex-center()
    display: flex
    align-items: center
    justify-content: center

\:host
    flex: 1
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

.toConfirmList,.operatinglogList
    flex: 1
    flex-direction: column
    @include flex-center()
