@use '~@angular/material' as mat;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$md-negiPrimary: (
    50 : #e4eeeb,
    100 : #bcd4ce,
    200 : #8fb7ae,
    300 : #629a8d,
    400 : #408574,
    500 : #1e6f5c,
    600 : #1a6754,
    700 : #165c4a,
    800 : #125241,
    900 : #0a4030,
    A100 : #78ffd2,
    A200 : #45ffc1,
    A400 : #12ffb0,
    A700 : #00f7a5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-negiSecondary: (
    50 : #f7faf6,
    100 : #ebf2e9,
    200 : #dee9db,
    300 : #d1e0cc,
    400 : #c7d9c1,
    500 : #bdd2b6,
    600 : #b7cdaf,
    700 : #aec7a6,
    800 : #a6c19e,
    900 : #98b68e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #edffe6,
    A700 : #daffcd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$animationsvg-primary: mat.define-palette($md-negiPrimary);
$animationsvg-accent: mat.define-palette($md-negiSecondary);

// The warn palette is optional (defaults to red).
$animationsvg-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$animationsvg-theme: mat.define-light-theme((
  color: (
    primary: $animationsvg-primary,
    accent: $animationsvg-accent,
    warn: $animationsvg-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($animationsvg-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

