/* You can add global styles to this file, and also import other style files */

mwl-calendar-month-cell 
    height: 5vw

    li.ng-star-inserted
        padding: 1rem
        &:nth-child(odd)
            background: #dfdeff
        
