/* You can add global styles to this file, and also import other style files */

#logo
    svg
        width: 7rem
        // height: 50%

mwl-calendar-month-cell 
    height: 5vw

    li.ng-star-inserted
        padding: 1rem
        &:nth-child(odd)
            background: #dfdeff

